/* This is a CSS file */
:root {
    --cool-color: hsl(0, 100%, 50%); /* Define a variable for the primary color */

  }

p, span {
    font-family: 'Times New Roman';
}

ul li {
    font-family: Impact;
}
#tasks-for-the-week > p ~ ol {
    font-family: Georgia;
}

.people > li + li{
    color:darkcyan;
}

li.future {
    color: dodgerblue;
}

summary:has(+ p) {
    color: teal;
}

@media screen and (max-width: 2000px) {
  * {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
    * {
      font-size: 16px;
    }
  }
@media screen and (max-width: 500px) {
    * {
      font-size: 12px;
    }
  }
@media screen and (max-width: 300px) {
    * {
      font-size: 10px;
    }
  }


h1 {
    color: rgb(0, 0, 255);
    background-color: antiquewhite;
    margin: 40px 10px;
    font-size: 30px;
    border-style: double;
    border-radius: 0%;
    border-width: 3px;
    text-align: center;
    font-family: "Jersey 25", sans-serif;
  }

h2 {
    color: var(--cool-color, #FF4230);
    background-color: antiquewhite;
    margin-bottom: 6mm;
    margin-left: 1vw;
    border-style:groove;
    border-radius: 0%;
    border-width: 3px;
    font-size: 25px;
    font-family: "Jersey 25", sans-serif;
}
#sum-intro {
    margin-left: 2vw;
    text-decoration: underline;
}

#meeting-summary {
    color: hsl(0,0%,20%);
    margin-left: 3%;
    border-style: dotted;
    border-width: 4px;
    border-color: blueviolet;
}

h3 {
    color: maroon;
    background-color: antiquewhite;
    margin-bottom: 30pt;
    margin-left: 0.5em;
    border: 2px dashed maroon;
    height: 25px;
    width: 50%;
    font-size: 20px;
    font-family: "Jersey 25", sans-serif;
}

#quick-intermission {
    color: color(display-p3 1 0.5 0);
    padding: 20px 0px;
}

#TL {
    color: color-mix(in lch, plum, pink);
    padding-bottom: 4px;
}
#basic {
    display: block;
}

#hide {
    display: none;
}
[src="coolthing.jpeg"] {
    max-height: 100vw;
    max-width: 100vw;
}
#great{
    margin-top: 5px;
    &:hover {
        border-style: dotted;
        border-width: 5px;
        border-color: gold;
    }
}

#big:active {
    border-style: dotted;
    border-width: 8px;
    border-color: magenta;
  }

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.people {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 150px); 
    border: 2px solid #000;
    grid-gap: 10px;
}